@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: #f1c40f;
}

.flipbook {
    width: 1000px;
    height: 600px;
}

.flipbook .hard {
    background: #c0392b !important;
    color: #fff;
    font-weight: bold;
    border: none; 
}

.logo{
    width: 300px !important;
    border-radius: 400px;
    background-color: #f1c40f;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.flipbook .hard small{
    background-color: #f1c40f;
    padding: 10px;
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 90%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}
.flipbook .page p{
	font-size: 14px;
    position: absolute;
    bottom: 10px;
}

@media (max-width: 768px) {
    .touch{
        display: block !important;
        width: 20px; height: 20px; background-color: rgb(255, 123, 0); border-radius: 20px 0 2px 0; position: absolute; bottom: -1px; right: -1px;
    }

    .touch::before{
        content: "";
        width: 20px; height: 20px; background-color: rgb(55, 0, 255); border-radius: 0 20px 0 3px; position: absolute;  left: -381px;
    }
    
    .flipbook {
      width: 100%; /* Adjust width for mobile screens */
      height: auto; /* Automatically scale height */
    }
  
    .flipbook .page img {
      width: 100%; /* Scale images to fit within mobile viewport */
    }

    .logo {
        width: 300px !important; /* Adjust size here */
        height: 100px; /* Maintain aspect ratio */
    }
    
  }
  
